html {
    text-align:center;
    font-family: 'Open Sans';
    
	}
body {
	
	}
	
#navigation_section{
	margin-left: 2em;
	}
#instruction {
	color: #a0a0a0;
	}
.question, inquiry{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 2.2em;
	font-family: 'Open Sans';
	color: #19262f;
	}
#submit_area{
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
	}
.inquiryDisabled{
	color: #FFFFFF;
	font-size: 1.4em;
	}
.inquiry{
	color: #e03030;
	font-size: 1.4em;
	font-weight: bold;
	}
button {
	font-family: 'Open Sans';
	}
.review_btn{
	margin: .5em;
	font-size: .9em;
    display: inline-block;
    outline: none;
    cursor: pointer;
        text-align: center;
        text-decoration: none;
        padding: .5em 1em .55em;
        //text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        border: none;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        color: #fef4e9;
        
1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#30a0e0), to(#2590d9));
        background: -moz-linear-gradient(top,  #30a0e0,  #2590d9);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.review_btn:hover {
        text-decoration: none;
        background: #30a0e0;
        background: -webkit-gradient(linear, left top, left bottom, from(#30a0e0), to(#2590d9));
        background: -moz-linear-gradient(top,  #30a0e0,  #2590d9);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.review_btn:active {
    position: relative;
    top: 1;
    }

.back_btn {
	margin-top: 1em;
	margin-left: 2em;
	font-size: .8em;
    display: inline-block;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        padding: .5em .5em .55em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        color: #fef4e9;
        border: none;
        background: #c0c0c0;
    }
.back_btn:hover {
    text-decoration: none;
    background: #a0a0a0;
    }

.back_btn:active {
    position: relative;
    }
    
.back_btn:before {
	content:"";
	border-top: 1.2em solid transparent; 
    border-bottom: 1.2em solid transparent; 
    border-right: 1.1em solid #c0c0c0;
    position: absolute; 
    left: 4.1em; 
    margin-top: -.47em;
	}
	
.back_btn:hover:before {
    content:"";
	border-top: 1.2em solid transparent; 
    border-bottom: 1.2em solid transparent; 
    border-right: 1.1em solid #a0a0a0;
    position: absolute; 
    left: 4.1em; 
    margin-top: -.47em;
   }



.choice_btn {
	margin: .5em;
	font-size: .9em;
    display: inline-block;
    outline: none;
    cursor: pointer;
        text-align: center;
        text-decoration: none;
        padding: .5em 1em .55em;
        //text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        border: none;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        color: #020202;
        
1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#F5F0F9));
        background: -moz-linear-gradient(top,  #F0F0F0,  #F5F0F9);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.choice_btn:hover {
        text-decoration: none;
        background: #30a0e0;
        background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#F5F0F9));
        background: -moz-linear-gradient(top,  #F0F0F0,  #F5F0F9);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.choice_btn:active {
    position: relative;
    top: 1;
    }



.submit_btn{
    margin: .5em;
	font-size: .9em;
    display: inline-block;
    outline: none;
    cursor: pointer;
        text-align: center;
        text-decoration: none;
        padding: .5em 1em .55em;
        //text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        border: none;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        color: #fef4e9;
        
1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#30a0e0), to(#2590d9));
        background: -moz-linear-gradient(top,  #30a0e0,  #2590d9);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    }

.submit_btn:hover{
	text-decoration: none;
        background: #30a0e0;
        background: -webkit-gradient(linear, left top, left bottom, from(#30a0e0), to(#2590d9));
        background: -moz-linear-gradient(top,  #30a0e0,  #2590d9);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	}

.submit_btn:active {
    position: relative;
    top: 1;
    }





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.99); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  
}

/* Modal Content */
.modal-content {
	
  position: fixed;
  bottom: 12em;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.3s;
  animation-name: slideIn;
  animation-duration: 0.3s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: none; /* Hidden by default */
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
    padding: 2px 16px;
    }

.modal-footer {
  margin-right: 2em;
  margin-left: 2em;
  padding: 0.1em;
  font-size: 1.4em;
  color: white;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

.green-right{
    background-color: #5cb85c;
    }
    
.red-wrong{
	background-color: #e03030;
	}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 12em; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 12em; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
