
/*******************************************************************************
Theme Styles
*******************************************************************************/
html {
    background-color: #f0f0f0;
	color: #19262f;
	font-family: 'Open Sans';
	}

p {
	font-size: 1em;
	line-height: 1;
	font-style: nomal;
	}
h3{
	padding-left:3em;
	}
h4{
	font-size: 1em;
    }
may{
	font-size: 1.4em;
	color: #5cb85c;
	font-weight: bold;
	}
nq{
	font-size: 1.4em;
	color: red;
	font-weight: bold;
    }

row{
	font-size: 1em;
	}
rownote{
	font-size: 0.8em;
	}
t0{
	padding-left: 3em;
	color: #253947;
	font-weight: bold;
	font-size: 1.1em;
	}
t1{
	padding-left:0em;
	font-weight: bold;
	font-size: 1.2em;
	}
t2{
	padding-left:1em;
	font-weight: bold;
	font-size: 1.1em;
	}
ilo{
	padding-left:1em;
	font-size: 1em;
	color: #19262f;
	}
trans{
	font-size: 0.9em;
	color: #888888;
	}
tag{
	font-weight: bold;
	font-size: 1em;
	color: #e03030;
	}
eng{
	font-weight: bold;
	font-size: 1em;
	color: #30a0e0;
	}
tagq{
	color: #e03030;
	font-size: 1.4em;
	font-weight: bold;
	}
#content{
	/*background: white;*/
	}

.entry{
	background-color: #ffffff;
	margin-bottom: .7em;
    line-height: 1.4;
	}
	