@media screen and (min-width: 481px) {
/****************************
This is for full fledged website (currently not taken care of)
*****************************/
	html {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	    }
	body{
		zoom: 1.3;
		}
	#sidenav_div, #sidenav_open, #sidenav_close{
		margin-right: 15%;
		}

		
	.modal-content {
		width: 50%;
		left: 25%;
		}

	}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
	#sidenav_div, #sidenav_open{
    	top: .3em;
		}

	.modal-content {
		width: 100%;
		}
	}


html {
	font-family: 'Open Sans';
    background-color: #F8F7FE;
    }
body {
	color:#373737;
	font-family: 'Open Sans';
	}

#header_wrap { 
  position:relative;
  height: 0px;
  width: 100%;
  font-family: 'Nobile', sans-serif;
  }

#navigation_section{
	background-color: white;
	}


/*
Make sure to match with "sidenav_open" 
*/
#sidenav_div{
	padding-left: 1em;
	padding-right: 1em;
    position: fixed;
    z-index: 0;
    right: 6px;
	border-radius: 5px 5px 5px 5px;
	display: none;
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.29);
	cursor: pointer;
	background-color: #FFFFFF;
}
#sidenav_open{
    position: fixed;
    z-index: 0;
    right: 6px;
	text-align: center;
	width: 1.7em;
	border-radius: 4px;
	font-size: 1.6em;
	cursor: pointer;
	background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.8), 0 2px 6px 0 rgba(0,0,0,0.49);
	transition: 0.5s;
}


#sidenav_close{
	position: fixed;
	right: 0.5em;
	margin-bottom: 1em;
	color: rgb(90,90,90);
	font-size: 1.5em;
	text-decoration: none;
}
#sidebar_link{
	display: block;
}

#tab_list{
	border-radius: 5px;
	color:red;
}

ul.tab {
	margin: 0px;
	margin-right: .5em;
	margin-left: .5em;
	list-style-position: inside;
	list-style: disc;
	padding-left: .0em;
	padding-right: .0em
	font-size: 1.1em;
	list-style-type: none;
	overflow: hidden;
	color: #F2F2F2;
}

/* Float the list items side by side */
ul.tab li {
	text-align: center;
	}

/* Style the links inside the list items */
ul.tab li a {
	width: 100%; 
    display: inline-block;
    color: rgb(90,90,90);
    background-color: white;
    text-align: center;
    padding: 12px 1px;
    text-decoration: none;
    transition: 0.1s;
	}

/* Change background color of links on hover */
ul.tab li a:hover {
	color: #FFFFFF;
	background-color: rgb(100,100,100);
	}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
	color: #000000;
	background-color: #FFFFFF;	  
	font-weight: bold;	
	}

/* Style the tab content */
.tabcontent {
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 1.2em;
    text-align: center;
    display: none;
    border-top: none;
    border-bottom: none;
}

#MainContent {
    padding-top: 0;
    width: 100%;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

h1, h2, h3, h4, h6 {
  margin: 0px;
  color:#222222;
}

h1 {
  font-size: 2.3em;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
	color: #bbb;
  font-size: 0.9em;
}

h5 {
  font-size: 18px;
  color: #ffffff;
}

h6 {
  font-size: 0.9em;
  color: #bbb;
}

p {
	text-align: justify; 
	text-indent: 1cm;
	margin: 10px 3.5% 15px 5px;
	font-size: 1em;
	line-height: 1;
	font-style: nomal;
}
may{
	font-size: 1.4em;
	color: #5cb85c;
	font-weight: bold;
	}
nq{
	font-size: 1.4em;
	color: red;
	font-weight: bold;
    }

row{
	font-size: 1em;
	}
rownote{
	font-size: 0.8em;
	}
t0{
	padding-left: 3em;
	color: #253947;
	font-weight: bold;
	font-size: 1.1em;
	}
t1{
	padding-left:0em;
	font-weight: bold;
	font-size: 1.2em;
	}
t2{
	padding-left:1em;
	font-weight: bold;
	font-size: 1.1em;
	}
ilo{
	padding-left:1em;
	font-size: 1em;
	color: #19262f;
	}
trans{
	font-size: 0.8em;
	color: #888888;
	}
tag{
	font-weight: bold;
	font-size: 1em;
	color: #e03030;
	}
eng{
	font-weight: bold;
	font-size: 1em;
	color: #30a0e0;
	}
tagq{
	color: #e03030;
	font-size: 1.4em;
	font-weight: bold;
	}
reviewTitle{
	font-weight: bold;
	color: #444;
	font-size: 1.1em;
	}
#number_index{
	padding-top: 0.4em;
	padding-right: 1em;
	text-align: right;
	font-size: 0.7em;
	}

.entryStatic{
	background-color: #ffffff;
	margin: .2em;
	padding: 0.5em;
	margin-bottom: 1em;
    line-height: 1.4;
    text-align: left;
	}
.entry{
	background-color: #ffffff;
	line-height: 1.4;
	}
	
#eng_q{
	text-indent: .7em;
	text-align:left;
	color: #888888;
	font-weight: bold;
	font-size: 1.2em;
	}
#instruction {
	color: #a0a0a0;
	background-color: #ffffff;
	padding-top: 3em;
	}
.question, inquiry{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 2.2em;
	font-family: 'Open Sans';
	color: #19262f;
	}
#submit_area{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
	}
.inquiryDisabled{
	min-height: 3em;
	padding-left: .5em;
	text-align:left;
	
	color: #FFFFFF;
	font-size: 1.5em;
	}
.inquiry{
	min-height: 3em;
	padding-left: .5em;
	text-align:left;

	color: #e03030;
	font-size: 1.5em;
	font-weight: bold;
	}

.review_btn, .review_btn:hover, .review_btn:active{
	font-family: 'Open Sans';
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	background-position: center;
	background-repeat: repeat;
	background-size: contain;
	-moz-box-shadow:inset 0px 0px 3px 1px rgba(255,255,255,1);
	-webkit-box-shadow:inset 0px 0px 3px 1px rgba(255,255,255,1);
	box-shadow:inset 0px 0px 3px 1px rgba(255,255,255,1), 3px 3px 6px 1px rgba(210,210,210,1);
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #fff;
	text-shadow:2px 2px #777;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-weight: bold; 

	}

.review_btn{
	background-image: url("https://mucia-javier.github.io/tagalog/images/pa1.png");
	}

.review_btn:hover {
	background-image: url("https://mucia-javier.github.io/tagalog/images/pa1_hover.png");
	box-shadow:inset 0px 0px 3px 1px rgba(255,255,255,1), 3px 3px 6px 1px rgba(210,210,210,0.5);
	}

.review_btn:active {
	background-image: url("https://mucia-javier.github.io/tagalog/images/pa1_hover.png");
	box-shadow:inset 0px 0px 3px 1px rgba(255,255,255,1), 3px 3px 6px 1px rgba(210,210,210,0);
    }

back_btn, back_btn:hover, back_btn:active {
	margin-top: 1em;
	margin-left: 1em;
	cursor: pointer;
	height: 3em;
	width:  3em;
	background-color: rgba(0,0,0,0);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	}

back_btn{
	background-image: url("https://mucia-javier.github.io/tagalog/images/back_arrow.png"); //("images/back_arrow.png");
	}

back_btn:hover {
	background-image: url("https://mucia-javier.github.io/tagalog/images/back_arrow_hover.png"); //("images/back_arrow.png");
    }

back_btn:active {
	background-image: url("https://mucia-javier.github.io/tagalog/images/back_arrow_pressed.png"); //("images/back_arrow.png");
    }

.choice_btn {
	font-weight: bold;
	margin: .5em;
	font-size: .9em;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .1em .6em .2em;
	-webkit-border-radius: .9em;
	-moz-border-radius: .9em;
	border-radius: .9em;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	border-width: 0.12em;
	border-color: #dddddd;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #020202;
	background: #ffffff; 
	}
    
.choice_btn:hover {
        text-decoration: none;
        background: #30a0e0;
        background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#F5F0F9));
        background: -moz-linear-gradient(top,  #F0F0F0,  #F5F0F9);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
    }
.choice_btn:active {
    position: relative;
    top: 1;
    }

.expuesto { 
    visibility: visible; 
    opacity: 1; 
    transition: opacity 0.5s linear; 
    } 
.escondido { 
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s 0.3s, opacity 0.3s linear;
    }



    
.submit_btn{
	font-weight: bold;
	margin: .5em;
	font-size: 1em;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 1em .55em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: none;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	background: -webkit-gradient(linear, left top, left bottom, from(#30a0e0), to(#2590d9));
	background: -moz-linear-gradient(top,  #30a0e0,  #2590d9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	}

.submit_btn:hover{
	text-decoration: none;
	background: #30a0e0;
	background: -webkit-gradient(linear, left top, left bottom, from(#30a0e0), to(#2590d9));
	background: -moz-linear-gradient(top,  #30a0e0,  #2590d9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	}

.submit_btn:active {
    position: relative;
    top: 1;
    }


.faint_btn{
	font-weight: bolder;
	margin: .5em;
	font-size: .9em;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0.1em 0.8em 0.1em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	border: none;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #b0b0b0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff));
	background: -moz-linear-gradient(top,  #fafafa,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#e9e9e9');
	}

.faint_btn:hover{
	text-decoration: none;
	background: #e0e0e0;
	background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e9e9e9));
	background: -moz-linear-gradient(top,  #e0e0e0,  #e9e9e9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#e9e9e9');
	}

.faint_btn:active {
    position: relative;
    top: 1;
    }







/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(255,255,255,0.99); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.3s;
	animation-name: fadeIn;
	animation-duration: 0.3s;

	}

/* Modal Content */
.modal-content {
	position: fixed;
	top: 8em;
	background-color: #fefefe;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.3s;
	animation-name: slideIn;
	animation-duration: 0.3s
	}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	}

.modal-header {
	display: none; /* Hidden by default */
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
	}

.modal-body {
    padding: 2px 16px;
    }

.modal-footer {
	margin-right: 4em;
	margin-left: 4em;
	padding: 0.01em;
	font-size: 1.4em;
	color: white;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .7em;
	}

.green-right{
    background-color: #5cb85c;
    }
    
.red-wrong{
	background-color: #e03030;
	}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {top: -300px; opacity: 0} 
	to {top: 8em; opacity: 1}
	}

@keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 8em; opacity: 1}
	}

@-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
	}

@keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
	}

/* Toast/Snack Bar part */
#toast {
	word-wrap: break-word;
	visibility: hidden;
	width: 92%;
	background-color: rgba(50, 50, 50, .8);
	color: #fff;
	text-align: center;
	padding: 16px;
	position: fixed;
	z-index: 3;
	bottom: 0em;
	left: 0em;
	font-size: 1em;
	}

#toast.show {
	  z-index: 4;
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

@-webkit-keyframes fadein {
	from {bottom: -2em; opacity: 0;} 
	to {bottom: 0em; opacity: 1;}
	}

@keyframes fadein {
	from {bottom: -2em; opacity: 0;}
	to {bottom: 0em; opacity: 1;}
	}

@-webkit-keyframes fadeout {
	from {bottom: 0em; opacity: 1;} 
	to {bottom: -2em; opacity: 0;}
	}

@keyframes fadeout {
	from {bottom: 0em; opacity: 1;}
	to {bottom: -2em; opacity: 0;}
	}

#textInput{
	margin-top: .8em;
    margin-bottom: 1em;
	font-size: 1em;
    width: 93%;
    border: none;
    /*border-bottom: 1px solid gray;*/
	padding-top: .6em;
	padding-right: .2em;
	padding-bottom: .6em;
	padding-left: .6em;
    color: #555;
    caret-color: #999;
	font-weight: bolder;
	background-color: rgba(10, 10, 10, .02);
	box-shadow: inset 1px 1px 6px #bbb;
	-webkit-box-shadow: inset 1px 1px 6px #bbb;
	-moz-box-shadow: inset 1px 1px 6px #bbb;
	border-radius: .3em;
	-webkit-appearance: none;
	}

